{% extends "user/base.html" %}
{% load static %}

{% comment %} {% block menu %}
<div class="menu">
    <li><h3> Tôn Giáo</h3></li>
    <li><a href="thieu-nhi.html">Thiếu Nhi</a></li>
    <li><a href="van-hoc.html">Văn Học</a></li>
    <li><a href="tam-ly.html">Tâm Lý</a></li>
    <li><a href="ngoai-ngu.html">Ngoại Ngữ</a></li>
    <li><a href="kinh-te.html">Kinh Tế</a></li>
    <li><a href="triet-hoc.html">Triết học</a></li>
    <li><a href="giao-trinh.html">Giáo Trình</a></li>
    <li><a href="tap-chi.html">Tạp Chí</a></li>
    <li><a href="giai-tri.html">Giải Trí</a></li>
</div>
{% endblock  %} {% endcomment %}

{% block cartegory %}  
    <!--------------------Cartegory---------------------->
    <section class="cartegory">
        <div class="container">
            <div class="cartegory-top row">
                <p>TRANG CHỦ / SÁCH TÔN GIÁO</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="cartegory-left">
                        <ul>
                            <li class="cartegory-left-li"><h4>Tôn Giáo </h4></li>
                            <li class="cartegory-left-li"><a href="thieu-nhi.html">Thiếu Nhi</a></li>
                            <li class="cartegory-left-li"><a href="van-hoc.html">Văn Học</a></li>
                            <li class="cartegory-left-li"><a href="tam-ly.html">Tâm Lý</a></li>
                            <li class="cartegory-left-li"><a href="ngoai-ngu.html">Ngoại Ngữ</a></li>
                            <li class="cartegory-left-li"><a href="kinh-te.html">Kinh Tế</a></li>
                            <li class="cartegory-left-li"><a href="triet-hoc.html">Triết học</a></li>
                            <li class="cartegory-left-li"><a href="giao-trinh.html">Giáo Trình</a></li>
                            <li class="cartegory-left-li"><a href="tap-chi.html">Tạp Chí</a></li>
                            <li class="cartegory-left-li"><a href="giai-tri.html">Giải Trí</a></li>
                        </ul>
                    </div>
                    <div class="cartegory-right row">
                        <div class="cartegory-right-top-item">
                            <p>{{product_counts}} SÁCH TÔN GIÁO</p>
                        </div>
                        <div class="cartegory-right-top-item">
                            <select name="" id="">
                                <option value="">Sắp xếp</option>
                                <option value="">Giá cao đến thấp</option>
                                <option value="">Giá thấp đến cao</option>
                            </select>
                        </div>
                        
                        <div class="cartegory-right-content row">
                        {% for product in products %}
                            <!-- Danh sách books thánh hiến -->
                            <div class="cartegory-right-content-item">
                                <a href="{% url 'product' id=product.id %}"><img src="/{{product.images}}" alt="image" title="sách đs thánh hiến "></a>
                                <a href="#">
                                <h2>{{product.name}}</h2>
                                <p>Giá: {{product.price |floatformat:3}} VND</p></a>

                            </div>
                        {% endfor %}

                        </div>
                        <div class="cartegory-right-bottom row">
                            <div class="cartegory-right-bottom-items">
                                <p>Hiện thị 2 <span>|</span> 4 Sản phẩm</p>
                            </div>
                            <div class="cartegory-right-bottom-items">
                                <p><span>&#171;</span>1 2 3 4<span>&#187;</span>Trang cuối</p>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   
{% endblock %}
