{% extends "QuanLy/base.html" %}
{% block title %}Nhà Sách Công Giáo{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="las la-bible"></span><span>Books Store</span></h2>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="{% url 'home:us-index' %}"><span class="las la-igloo"></span>
                    <span>Dashboard</span></a>
            </li>
            <!-- quản lý list khách hàng -->
            <li>
                <a href="{% url 'home:us-customer' %}"><span class="las la-users"></span>
                    <span>Customers</span></a>
            </li>
            <!-- lưu danh sách sản phẩm -->
            <li>
                <a href="{% url 'home:us-products' %}" class="active"><span class="las la-clipboard-list"></span>
                    <span>Products</span></a>
            </li>
            <!-- lưu đơn hàng -->
            <li>
                <a href="{% url 'home:us-order' %}"><span class="las la-shopping-bag"></span>
                    <span>Orders</span></a>
            </li>
            <!-- lưu list các loại sách -->
            <li>
                <a href="{% url 'home:us-inventory' %}"><span class="las la-receipt"></span>
                    <span>Inventory</span></a>
            </li>
            {% if isSuperUser %}
                <!-- thêm tài khoản đăng nhập cho admin -->
                <li>
                    <a href="{% url 'home:us-account' %}"><span class="las la-user-circle"></span>
                        <span>Accounts</span></a>
                </li>
                <!-- quyền khóa trang web -->
                <li>
                    <a href="{% url 'home:us-tasks' %}"><span class="las la-clipboard-list"></span>
                        <span>Tasks</span></a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'home:logout' %}"><span class="las la-sign-out-alt"></span>
                    <span>Log Out</span></a>

            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block main %}
<main>
    <h2>LIST PRODUCTS</h2>
    <form action="{% url 'home:a-searchs' %}" method="get">
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="search id, name,...">
        </div>
    </form>
        
            <div class="but-ed">
                <a href="{% url 'home:a-new' %}"><button class="new-button las la-plus">Thêm</button></a>
                <a href="{% url 'home:us-products' %}"><button class="reload-button las la-sync">Reload</button></a>
                {% comment %} <a href="#"><button class="delete-button lar la-trash-alt">Delete</button></a> {% endcomment %}
            </div>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>id</td>
                        <td>picture</td>
                        <td>name</td>
                        <td>the loai</td>
                        <td>mo ta</td>
                        <td>gia tien</td>
                        <td>so luong ton kho</td>
                        <td class="but-ed">tools</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>{{product.id}}</th>
                        <th class="thimg"><img src="/{{product.images}}" alt="img sách"></th>
                        <th>{{product.name}}</th>
                        <th>{{product.category.name}}</th>
                        <th>{{product.descriptions}}</th>
                        <th>{{product.price | floatformat:3}}</th>
                        <th>{{product.quantity}}</th>
                        <th class="but-ed">
                            <a href="{% url 'home:a-delete' id=product.id %}"><button class="delete-button lar la-trash-alt">Delete</button></a>
                            <a href="{% url 'home:a-update' id=product.id %}"><button class="edit-button las la-edit">Edit</button></a>
                        </th>
                    </tr>
                {% endfor %}

                {% for products_search in products_searchs %}
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>{{products_search.id}}</th>
                        <th class="thimg"><img src="/{{products_search.images}}" alt="ima sach"></th>
                        <th>{{products_search.name}}</th>
                        <th>{{products_search.category.name}}</th>
                        <th>{{products_search.descriptions}}</th>
                        <th>{{products_search.price}}</th>
                        <th>{{products_search.quantity}}</th>
                        <th class="but-ed">
                            <a href="{% url 'home:a-update-inventory' id=products_search.id %}"><button class="delete-button lar la-trash-alt">Delete</button></a>
                            <a href="{% url 'home:a-delete-inventory' id=products_search.id %}"><button class="edit-button las la-edit">Edit</button></a>
                        </th>
                    </tr>
                {% endfor %} 

                </tbody>
            </table>

</main>
{% endblock %}