{% extends "QuanLy/base.html" %}
{% block title %}New Inventory{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="las la-bible"></span><span>Books Store</span></h2>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
            <a href="{% url 'home:us-index' %}"><span class="las la-igloo"></span>
                <span>Dashboard</span></a>
        </li>
        <!-- quản lý list khách hàng -->
        <li>
            <a href="{% url 'home:us-customer' %}"><span class="las la-users"></span>
                <span>Customers</span></a>
        </li>
        <!-- lưu danh sách sản phẩm -->
        <li>
            <a href="{% url 'home:us-products' %}"><span class="las la-clipboard-list"></span>
                <span>Products</span></a>
        </li>
        <!-- lưu đơn hàng -->
        <li>
            <a href="{% url 'home:us-order' %}"><span class="las la-shopping-bag"></span>
                <span>Orders</span></a>
        </li>
        <!-- lưu list các loại sách -->
        <li>
            <a href="{% url 'home:us-inventory' %}" class="active"><span class="las la-receipt"></span>
                <span>Category</span></a>
        </li>
        {% if isSuperUser %}
            <!-- thêm tài khoản đăng nhập cho admin -->
            <li>
                <a href="{% url 'home:us-account' %}"><span class="las la-user-circle"></span>
                    <span>Accounts</span></a>
            </li>
            <!-- quyền khóa trang web -->
            <li>
                <a href="{% url 'home:us-tasks' %}"><span class="las la-clipboard-list"></span>
                    <span>Tasks</span></a>
            </li>
        {% endif %}
            <li>
                <a href="{% url 'home:logout' %}"><span class="las la-sign-out-alt"></span>
                    <span>Log Out</span></a>

            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block main %}
<main>
    <h2>New Category</h2>
    <div class="but-ed">
        <a href="{% url 'home:us-inventory' %}"><button class="new-button las la-undo">Return</button></a>
        <a href="#"><button class="delete-button lar la-trash-alt">Delete</button></a>
    </div>
    <div class="status">
        <div class="forms-status">
            <div class="form-infor">
                <form method="POST" action="{% url 'home:a-inventory' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{create_inventorys.as_p}}
                    <button type="Submit" value="Submit" class="ok-button">OK</button> 
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}