<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="">
    <title>Unknown</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }
      
      h1 {
        font-size: 48px;
        color: #333;
        text-align: center;
        margin-top: 100px;
      }
      
      p {
        font-size: 24px;
        color: #666;
        text-align: center;
        margin-top: 20px;
      }
      
</style>
<body>
    <h1>Error 404 - Page not found</h1>
    <p>Sorry, the page you requested could not be found.</p>
  
</body>

</html>